/* Reset all styles*/

* {
  all:unset;
}

/* Fonts */

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
}

/* Base */

* {
  border: none;
  border-radius: 0;
  margin: 3px 4px 3px 4px;
}

/* Waybar */

#waybar {
  background-color: rgba(30, 30, 30, 0.7);
}

/* Moudles */

#workspaces button {
  background-color: transparent;
}

#workspaces button:hover {
  background-color: rgba(183, 189, 248, 0.2);
}

#workspaces button.active {
  color: rgba(183, 189, 248, 1);
}

tooltip, tooltip *, menu {
  margin: 0;
  padding: 0;
}

tooltip label {
  background-color: rgba(30, 30, 30, 0.7);
  padding: 12px;
}

#workspaces,
#custom-media,
#clock,
#memory,
#custom-gpu,
#custom-cpu,
#bluetooth,
#network,
#wireplumber,
#battery,
#custom-power {
  margin: 0px 5px;
  padding: 0px 10px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
}

#custom-media {
  padding-top: 6px;
}